.wrapper{
    margin: 8px;
    padding : 8px;
    display : flex;
    flexDirection: row;
    border: 1px solid grey;
    border-radius: 16px;
}
.messageText{
    color: darkblue;
    font-size: 16px;
}